*{
	-webkit-tap-highlight-color:rgba(0,0,0,0); /*去掉链接iphone高亮*/
}
a{
	outline:none;
}
input {
	/*-webkit-appearance:none; 去除iphone默认input样式*/
}

img{
	margin:0 auto;
}

/*head*/
.head-top{
	
}
.head-row {
	background-color: #00bdec;
	height: 52px;
	text-align: center;
}
.head-row-text {
	font-family:'SimHei',sans-serif;
	font-size:1em;
	margin:0 0 0 0;
	color:#FFFFFF;
	position: absolute;
	left: 50%;
	top:50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	
}
.col-head{
	height: 52px;
}
.head-back{
    position: absolute;
	left: 50%;
	top:50%;
	-webkit-transform: translateX(-50%) translateY(-45%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	color:#FFFFFF;
	font-size:1.6em;
}
/*cardinfo*/
.cardinfo-row{
	padding: 10% 0 10% 0;
	border-bottom:6px solid #e5e5e5;
}
.cardinfo-col-left{
}
.cardinfo-col-right{
	padding-top: 8%;
}
.cardinfo-col-right2{
	padding-top: 5%;
}
.buycard-img{
	width: 100%;
	padding: 0 15px 0 15px;
}
.label-text{
	font-family:'SimHei',sans-serif;
	font-size:1.1em;
	margin:0 0 0 0;
	color:#000000;
	text-align: right;
	padding:5px 0 0 10px; 
	font-weight: 200;
}
.buycard-tabs{
	margin-top: 10px;
	margin-bottom: 10px;
}

/*foot*/
.tool_foot{
    background-color: #ffffff;
	border-top:1px solid #e5e5e5;
	position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    clear: none;
}
.footer-row{
	overflow:hidden;
}
.a-btn{
	margin: 10px 0px 10px 10px ;
	width:90%;
}
.buycardname{
	font-family:'SimHei',sans-serif;
	font-size:1.2em;
	color:#000000;
	text-align: left;
	padding: 10px 0 0 10%;
	border-top:5px solid #e5e5e5;
}
.buycardname2{
	font-family:'SimHei',sans-serif;
	font-size:1.2em;
	color:#000000;
	text-align: left;
}
.row-bottom{
	border-bottom:5px solid #e5e5e5;
	padding-bottom: 13px;
}
.row-top{
	padding-top: 13px;
}
.row-top-m{
	margin-top: 15px;
}
.foot-text{
	padding-top: 15px;
}
.red-text{
	color: red;
}
.long-text{
	text-align: left;
}
.lie-text{
	padding-top: 20px;
	text-align: right;
	color: gray;
}
.myTable {
	border-collapse:collapse;
}
.myTable td {
	border:1px solid black; 
	height:40px;
	text-align: left;
}
.myTable th {border:1px solid black; height:45px;}
    
.required_notification {
    color:#d45252;
    margin:5px 0 0 0;
    display:inline;
    float:center;
    font-size: 25px;
}